{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light shadow">

  <div class="mx-auto order-0">
    <a class="navbar-brand" href="/" style="font-size:28px">
      <img src="{% static "img/logo.png" %}" height="42" alt="logo"> Software Center
    </a>  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
     {% if user.is_authenticated %}
     {% for tag in nav_tags %}
      <li class="nav-item">
         <a class="nav-link" href="/{{ tag.tag_slug }}/">{{ tag.tag_name }}</a>
      </li>
    {% endfor %}
      <li class="nav-item">
        <a class="btn btn-outline-success" href="{% url 'add_profile' %}">เพิ่มสมาชิก</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search_member">หาคนร่วมงาน</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/zone">หน่วยงาน</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" ">ติดต่อเรา</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">ออกระบบ</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-sm btn-outline-primary m-2" href="/user">{{user.username|title}}</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="text-dark" href="/login">เข้าสู่ระบบ</a>
        <!--add this-->
        <a class="btn btn-sm btn-primary m-2" href="/register">สมัครใช้งาน</a>
      </li>
      {% endif %}
    </ul>
</nav>

