{% extends "member/header.html" %}
{% load static %}
{% block content %}
    <!--Article-->
<br>
    <div class="article-banner text-center"></div>
        <br><br>
        <div class="col-12 pb-4 text-dark text-center">
        <div class="row">
        <div class="col-sm-12 my-auto">
            <img src="{{ member.profile_picture.url }}" class="img-fluid rounded"
                alt="{{ member.nick_name }}">
                <br>
                <br>
        </div>
            <div class="container">
                <h1 class="font-weight-bold">{{ member.position }}</h1>
                <p></p>
                <p class="font-weight-bold" style="font-size:20px">{{ member.title.name }} {{ member.first_name }} {{ member.last_name }}</p>
                <p class="font-weight-bold" style="font-size:20px">โทรติดต่อ : {{member.phone}}</p>
            </div>    
            <div class="container">
                <br>
                <h3 class="font-weight-bold">ทักษะความถนัด</h3>
                <br>
                <p>{{ member.member_content|safe }}</p>
            </div>
        </div>
    </div>



    <style>
        .article-banner { 
            background-image:
            /* The image fade to white */
            linear-gradient(to left, rgba(0,0,0,0) 10%, #fff 95%),
            /* The image used */
			url("{{member.location.profile_picture.url}}");
            /* Set a specific height */
            height:320px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60%;
            z-index: auto;
            position: relative;
        }
    </style>


	{% endblock %} 