{% extends "member/header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--User-->
<br><br>
<div class="container mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 pb-4">
            ...

            <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
                <div class="row">
                    <div class="col-6 my-auto">
                        <h2 class="font-weight-bold pt-4">Wishlist</h2>
                    </div>
                    <div class="col-6 my-auto text-right">
                        <button type="button" class="btn btn-primary font-weight-bold" style="border-radius: 50%"
                            data-toggle="modal" data-target="#wishlistModal">+</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    {% for p in user.profile.products.all %}
                    <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
                        <div class="h-100">
                            <img src="{{ p.product_image.url }}" class="card-img-top" alt="{{ p.product_name }}"
                                style="width: auto; height: 225px; object-fit: scale-down;">
                            <div class="card-body">
                                <h5 class="card-title">{{ p.product_name }}</h5>
                                <p class="card-text text-muted" style="font-size:12px">{{ p.product_type }}</p>
                                <a href="{{ p.affiliate_url }}" class="btn btn-warning">Buy now</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!--Edit user modal-->
        ...

{% endblock %}

{% extends "member/header.html" %}

	{% block content %}

	{% load crispy_forms_tags %}  

	<!--User-->
	<br><br>
	<div class="container mx-auto">
	    ...
	</div>
	    	

	<!--Edit user modal-->
	...

	<!--Wishlist modal-->
	<div class="modal fade" tabindex="-1" id="wishlistModal" role="dialog">
		<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      	<div class="modal-header">
			        <h5 class="modal-title">Edit Profile</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
		      	</div>
		      	<div class="modal-body">
			        <form method="post">
			        	{% csrf_token %}
					  	{{ profile_form|crispy }}
					  	<span class="text-muted" style="font-size:12px">Hold down "Control", or "Command" on a Mac, to select more than one.</span>
		      	</div>
		      	<div class="modal-footer">
		        		<button type="submit" class="btn btn-primary">Save changes</button>
		        	</form> 
		        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      	</div>
		    </div>
	  	</div>

	{% endblock %} 