{% extends "member/header.html" %}

{% block content %}

{% load static %}


<!--CTA-->
<div class="cta-banner">
	<div class="container py-5">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-6 pb-4">
				<h1 class="display-4 font-weight-bold">ศซว.ทอ.</h1>
				<h5>ศูนย์ซอฟต์แวร์กองทัพอากาศ ศูนย์ที่รวบร่วมบุคลากรมากความสามารถด้านการ ผลิด คิดค้นและ พัฒนาซอฟต์แวร์
				</h5>
				<a class="btn btn-primary mt-2" href="/member">หาคนร่วมทีม</a>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6">
			</div>
		</div>
	</div>

	<!--departments-->
	<div class="container py-5">
		<h2>บุคลากร</h2>

		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="card-body">
					
				<a class="btn btn-outline-success" href="{% url 'add_profile' %}">เพิ่มสมาชิก</a>
				</div>
			</div>
			{% for p in member %}
			<div class="col-sm-8 col-md-12 col-lg-4 pb-1">
				<div class="card h-100" style="border:none">
					<img src="{{ p.profile_picture.url }}" class="card-img-top" alt="{{ p.nick_name}}"
						style="width: auto; height: 250px; object-fit: scale-down;">
					<div class="card-body">
						<h7 class="card-title">{{ p.position}}</h7>
						<p class="card-text " style="font-size:14px">{{ p.title.short_name}} {{ p.first_name}}  {{ p.last_name}}</p>
						<p class="card-text text-muted">{{ p.location }}</p>
                        <p class="card-text">ติดต่อ : {{ p.phone }}</p>
						<a href="{{ p.phone }}" class="btn btn-warning">ดูโปรไฟล์</a>
					</div>
				</div>
			</div>
			{% endfor %}
			

		</div>
	</div>


	<style>
	    .cta-banner {
	      	background-image:
	      	/* The image fade to white */
	      	linear-gradient( to left, rgba(0,0,0,0) 10%, #fff 85%),
	      	/* The image used */
	      	url("{% static "img/Software-Engineer-Blog-Featured-Image.jpg" %}");
	      	/* Set a specific height */
	     	height:420px;
	      	/* Create the parallax scrolling effect */
	      	background-attachment: fixed;
	      	background-position: center bottom;
	      	background-repeat: no-repeat;
	      	background-size: cover;
	      	z-index: auto;
	      	position: relative;
	    }
  	</style>
	

	{% endblock %}

	<!-- Optional Javascript -->
	...