{% extends "member/header.html" %}
{% load static %}
{% block content %}


<!-- CTA -->
<div class="cta-banner">
	<div class="container py-5">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-6 pb-4">
				<h1 class="display-4 font-weight-bold">ศซว.ทอ.</h1>
				<h5>บุคลากรมากความสามารถด้านการ <br>ผลิด คิดค้นและ พัฒนาซอฟต์แวร์
				</h5>
				<a class="btn btn-primary mt-2" href="">ค้นหา</a>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6">
			</div>
		</div>
	</div>
</div>
<div class="container py-5">
	{% if tag %}
	<h1 class="font-weight-bold">{{ tag }}</h1>
	{% else %}
	<h1 class="font-weight-bold">บุคลากร</h1>
	{% endif %}
	<br>
	<br>
	<br>
	<br>
	<div class="row">
		{% for b in member %}
		<div class="col-12 pb-4 text-dark">
			<div class="row">

				<div class="col-lg-4 col-md-6 col-sm-12 my-auto">
					<img src="{{ b.profile_picture.url }}" class="img-fluid rounded-circle img-responsive" width="180" height="180" alt="{{ b.nick_name }}">
				</div>
				
				<div class="col-lg-8 col-md-6 col-sm-12 my-auto">
					<br>
					<h6 class="card-text text-muted">{{ b.position }}</h6>
					{% for tag in b.skill_tag.all %}
					<span class="badge badge-success" style="font-size:14px; color:white">{{ tag }}</span>
					{% endfor %}
					<p></p>
					<h4 class="card-text" style="font-size:20px">{{b.title}}{{ b.first_name }} {{ b.last_name}}</h6>
					<p class="card-text ">โทร. <a class="nav-link" href="tel:{{b.phone}}">{{b.phone}} <img src="{% static "img/phoneIcon0.png" %}" width="30" height="30" class="img-responsive"></a></p>
					<p>{{ b.location|safe|truncatewords:25 }}</p>
					<a href="/member/{{b.phone}}"><button class="btn btn-outline-dark btn-sm">View details</button></a>
				</div>
			</div>
			<br><br>
		</div>
		{% endfor %}
	</div>
	<!--Pagination-->
	<div class="container">
		<div class="pagination justify-content-center">
			<span class="step-links">
				{% if member.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{ member.previous_page_number }}">previous</a>
				{% endif %}
				<span class="current">
					Page {{ member.number }} of {{ member.paginator.num_pages }}
				</span>
				{% if member.has_next %}
				<a href="?page={{ member.next_page_number }}">next</a>
				<a href="?page={{ member.paginator.num_pages }}">last &raquo;</a>
				{% endif %}
			</span>
		</div>
	</div>
	<!--end of Pagination-->
</div>



<style>
	@supports (-webkit-touch-callout: none) {
		/* CSS specific to iOS devices */ 
		.cta-banner {
			
			background-image:
			/* The image fade to white */
			linear-gradient(to left, rgba(165, 163, 163, 0) 0%, #fff 90%),
			/* The image used */
			url("{% static "img/1_zjKjIXqlWgfbSbR_SayHHA.jpeg" %}");
			/* Set a specific height */
			height: 420px;
			/* Create the parallax scrolling effect */
			background-attachment: scroll;
			background-position:  50% 0px;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: auto;
			position: relative;
		}
	  }
	@supports not (-webkit-touch-callout: none) {
		/* CSS for other than iOS devices */ 
		.cta-banner {
			
			background-image:
			/* The image fade to white */
			linear-gradient(to right, rgba(165, 163, 163, 0) 0%, #fff 90%),
			/* The image used */
			url("{% static "img/1_zjKjIXqlWgfbSbR_SayHHA.jpeg" %}");
			/* Set a specific height */
			height: 420px;
			/* Create the parallax scrolling effect */
			background-attachment: fixed;
			background-position:  50% 0px;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: auto;
			position: relative;
		}
	  }
</style>


{% endblock %}