{% extends "member/header.html" %}
{% load static %}
{% block content %}


<!-- CTA -->
<div class="cta-banner">
	<div class="container py-5">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-6 pb-4">
				<h1 class="display-4 font-weight-bold">ศซว.ทอ.</h1>
				<h5>ศูนย์ซอฟต์แวร์กองทัพอากาศ ศูนย์ที่รวบร่วมบุคลากรมากความสามารถด้านการ ผลิด คิดค้นและ พัฒนาซอฟต์แวร์
				</h5>
				<a class="btn btn-primary mt-2" href="/member">หาคนร่วมทีม</a>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6">
			</div>
		</div>
	</div>

<div class="container py-5">
  <h1 class="font-weight-bold"></h1>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    {% for b in insert_member %}
    <div class="col-12 pb-4 text-dark">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 my-auto">
              <img src="{{ b.profile_picture.url }}" class="img-fluid rounded" alt="{{ b.nick_name }}">
          </div>
          <div class="col-lg-8 col-md-6 col-sm-12 my-auto">
              <h5>{{ b.position }}</h5>
              <p class="card-text text-muted" style="font-size:12px">{{ b.first_name }}  {{ b.last_name }}</p>
              <p>{{ b.article_content|safe|truncatewords:25 }}</p>
              <button class="btn btn-outline-dark btn-sm">View details</button>
          </div>   
      </div>
  </div>
    {% endfor %}
  </div>
</div>


<style>
  .cta-banner {
      background-image:
      /* The image fade to white */
      linear-gradient( to left, rgba(0,0,0,0) 10%, #fff 85%),
      /* The image used */
      url("{% static "img/Software-Engineer-Blog-Featured-Image.jpg" %}");
      /* Set a specific height */
     height:420px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: auto;
      position: relative;
  }
</style>


{% endblock %}